@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
  .app-container{
    @apply px-5 sm:px-8 md:px-10 lg:px-12
  }
}

*{
  transition: .4s;
}

body{
  background-color: transparent!important;
}

@keyframes loading {
  to{
    color: #fefefe;
    background-color: #fefefe;
    height: 120vw;
  }
}

.shimmer{
  animation: shimmer .5s linear infinite;
}
@keyframes shimmer {
  60%{
    opacity: 0.5;
  }
}

::-webkit-scrollbar{
  background-color: #a60000;
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb{
  border-radius: 4px;
  background-color: #eee;
  scale: .9;
}